<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!--- Favicon--->
    <link rel="icon" type="image/webp" href="../assets/images/favicon.webp">
    <title>Aviso Legal | Iván Soto - Diseñador web y gráfico</title>
    <script src="https://kit.fontawesome.com/f0618a2a0c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../assets/images/ivan-soto-logo.webp" alt="Iván Soto, diseñador web y gráfico"></a>

        <nav class="menu">
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </label>
          
            <ul class="menu-list">
              <li><a href="../views/portfolio.html">Portfolio</a></li>
              <li><a href="../views/presupuesto.html">Presupuesto</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
          </nav>

        <div class="iconos">
            <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            
            <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
        </div>
    </header>

    <main>
        <div class="hero">
            <h1>Aviso Legal</h1>
        </div>

        <div class="flecha-top">
            <a href="#"><img src="../assets/images/arrow-up.svg" alt="Ir al principio de la página"></a>
        </div>

        <section class="textos-legales">
            <div class="contenedor-legal">
                <p>En cumplimiento con el deber de información recogido en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), se informa de los siguientes datos:</p>

            <h2>Datos del Responsable</h2>

            <ul>
                <li><b>Titular:</b> Iván Soto Coalla</li>
                <li><b>NIF:</b> XXXXXXXXK</li>
                <li><b>Dirección:</b> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)</li>
                <li><b>Correo electrónico:</b> ivansoto1892@gmail.com</li>
                <li><b>Teléfono:</b> 617 640 494</li>
            </ul>
        
            <h2>Objeto</h2>
            <p>El presente Aviso Legal regula el uso del presente sitio web que el titular pone a disposición de los usuarios de Internet.</p>
        
            <h2>Usuarios</h2>
            <p>El acceso y/o uso de este portal atribuye la condición de usuario, que acepta, desde dicho acceso y/o uso, las condiciones aquí reflejadas.</p>
        
            <h2>Protección de Datos</h2>
            <p>El responsable cumple con las directrices del Reglamento General de Protección de Datos (RGPD) y demás normativa vigente, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario.</p>
        
            <h2>Propiedad Intelectual e Industrial</h2>
            <p>Todos los contenidos del sitio web, incluyendo textos, imágenes, diseño gráfico, código fuente, logos, marcas, etc., son propiedad del titular o de terceros, y están protegidos por la legislación vigente en materia de propiedad intelectual e industrial.</p>
        
            <h2>Responsabilidad</h2>
            <p>El titular no se hace responsable de los daños y perjuicios de cualquier naturaleza que pudieran ocasionarse por errores u omisiones en los contenidos, falta de disponibilidad del sitio web o la transmisión de virus o programas maliciosos.</p>
        
            <h2>Legislación Aplicable</h2>
            <p>La relación entre el titular y el usuario se regirá por la normativa española vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Oviedo (Asturias).</p>
            </div>

        </section>
    
    </main>

    <footer>
        <div class="footer-row">

            <div class="col">
                <div class="col-content">
                    <p class="pie"><i class="fas fa-map-marker"></i> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)<br><i class="fas fa-phone-alt"></i> <a href="tel:617640494" target="_blank"> 617 640 494</a><br><i class="fas fa-envelope"></i> <a href="mailto:ivansoto1892@gmail.com" target="_blank"> ivansoto1892@gmail.com</a></p>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <ul>
                        <li><a href="#">Aviso Legal</a></li>
                        <li><a href="../views/politica-de-privacidad.html">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                
                    <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
                </div>
            </div>

        </div>
    </footer>
    
</body>
</html>