<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!--- Favicon-->
    <link rel="icon" type="image/webp" href="../assets/images/favicon.webp">
    <title>Contacto | Iván Soto - Diseñador web y gráfico</title>
    <script src="https://kit.fontawesome.com/f0618a2a0c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="../index.html"><img class="logo" src="./assets/images/ivan-soto-logo.webp" alt="Iván Soto, diseñador web y gráfico" height="304" width="103"></a>

        <nav class="menu">
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </label>
          
            <ul class="menu-list">
              <li><a href="../views/portfolio.html">Portfolio</a></li>
              <li><a href="../views/presupuesto.html">Presupuesto</a></li>
              <li><a href="#" class="active">Contacto</a></li>
            </ul>
          </nav>

        <div class="iconos">
            <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            
            <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
        </div>
    </header>

    <main>
        <div class="flecha-top">
            <a href="#"><img src="../assets/images/arrow-up.svg" alt="Ir al principio de la página"></a>
        </div>

        <section class="contenido contenido-azul">
            <div class="contenedor">
                <div class="datos-contacto">
                    <h2>Contacta conmigo</h2>
                    <p class="pie"><i class="fas fa-map-marker"></i> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)<br><i class="fas fa-phone-alt"></i> <a href="tel:617640494" target="_blank"> 617 640 494</a><br><i class="fas fa-envelope"></i> <a href="mailto:ivansoto1892@gmail.com" target="_blank"> ivansoto1892@gmail.com</a></p>
                </div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.589006276696!2d-5.861540623838414!3d43.364706871117264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd368d03029acfa7%3A0x4ab9ebc312b04f15!2sC.%20Arquitecto%20Tioda%2C%2013%2C%2033012%20Oviedo%2C%20Asturias!5e0!3m2!1ses!2ses!4v1745577318134!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-row">
            <div class="col">
                <div class="col-content">
                    <p class="pie"><i class="fas fa-map-marker"></i> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)<br><i class="fas fa-phone-alt"></i> <a href="tel:617640494" target="_blank"> 617 640 494</a><br><i class="fas fa-envelope"></i> <a href="mailto:ivansoto1892@gmail.com" target="_blank"> ivansoto1892@gmail.com</a></p>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <ul>
                        <li><a href="../views/aviso-legal.html">Aviso Legal</a></li>
                        <li><a href="../views/politica-de-privacidad.html">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                
                    <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
                </div>
            </div>

        </div>
    </footer>
    
</body>
</html>