<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!--- Favicon-->
    <link rel="icon" type="image/webp" href="../assets/images/favicon.webp">
    <title>Política de Privacidad | Iván Soto - Diseñador web y gráfico</title>
    <script src="https://kit.fontawesome.com/f0618a2a0c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../assets/images/ivan-soto-logo.webp" alt="Iván Soto, diseñador web y gráfico" width="304" height="103"></a>

        <nav class="menu">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </label>
          
            <ul class="menu-list">
              <li><a href="../views/portfolio.html">Portfolio</a></li>
              <li><a href="../views/presupuesto.html">Presupuesto</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
          </nav>

        <div class="iconos">
            <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            
            <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
        </div>
    </header>

    <main>
        <div class="hero">
            <h1>Política de Privacidad</h1>
        </div>

        <div class="flecha-top">
            <a href="#"><img src="../assets/images/arrow-up.svg" alt="Ir al principio de la página" width="440" height="239"></a>
        </div>

        <section class="textos-legales">

            <div class="contenedor-legal">
                <p>En cumplimiento con lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo (RGPD), se informa a los usuarios sobre la política de privacidad del sitio web.</p>

                <h2>1. Responsable del tratamiento</h2>

                <ul>
                    <li><b>Identidad:</b> Iván Soto Coalla</li>
                    <li><b>NIF:</b> XXXXXXXXK</li>
                    <li><b>Dirección:</b> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)</li>
                    <li><b>Correo electrónico:</b> ivansoto1892@gmail.com</li>
                </ul>

                <h2>2. Finalidad del tratamiento de los datos</h2>

                <p>Los datos personales proporcionados a través de este sitio web serán utilizados con las siguientes finalidades:</p>

                <ul>
                    <li>Responder a solicitudes o consultas enviadas por los usuarios.</li>
                    <li>Gestionar suscripciones a boletines o newsletters.</li>
                    <li>Envío de información comercial (si se ha consentido previamente).</li>
                    <li>Mejorar la experiencia de usuario en el sitio web.</li>
                </ul>

                <h2>3. Legitimación para el tratamiento</h2>

                <p>El tratamiento de los datos personales se basa en el consentimiento del interesado, que se solicitará en los formularios correspondientes, y en su caso, en la ejecución de un contrato o cumplimiento de obligaciones legales.</p>

                <h2>4. Destinatarios de los datos</h2>

                <p>No se cederán datos a terceros, salvo obligación legal o cuando sea necesario para la prestación del servicio contratado.</p>

                <h2>5. Derechos de los usuarios</h2>

                <p>Los usuarios tienen derecho a:</p>

                <ul>
                    <li>Acceder a sus datos personales.</li>
                    <li>Solicitar la rectificación o supresión de los datos.</li>
                    <li>Solicitar la limitación de su tratamiento.</li>
                    <li>Oponerse al tratamiento.</li>
                    <li>Solicitar la portabilidad de los datos.</li>
                </ul>

                <p>Para ejercer estos derechos, los usuarios pueden enviar una solicitud a <b>xxxxxxxxx@gmail.com</b>, indicando claramente su identidad y el derecho que desean ejercer.</p>

                <h2>6. Conservación de los datos</h2>

                <p>Los datos personales se conservarán mientras sean necesarios para cumplir con la finalidad para la que fueron recabados y, posteriormente, durante los plazos legalmente exigidos.</p>

                <h2>7. Seguridad de los datos</h2>

                <p>Se han adoptado las medidas técnicas y organizativas necesarias para garantizar la seguridad e integridad de los datos, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no autorizados.</p>
            </div>

        </section>
    </main>

    <footer>
        <div class="footer-row">

            <div class="col">
                <div class="col-content">
                    <p class="pie"><i class="fas fa-map-marker"></i> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)<br><i class="fas fa-phone-alt"></i> <a href="tel:617640494" target="_blank"> 617 640 494</a><br><i class="fas fa-envelope"></i> <a href="mailto:ivansoto1892@gmail.com" target="_blank"> ivansoto1892@gmail.com</a></p>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <ul>
                        <li><a href="../views/aviso-legal.html">Aviso Legal</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="col-content">
                    <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                
                    <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
                </div>
            </div>

        </div>
    </footer>
    
</body>
</html>