<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!--- Favicon--->
    <link rel="icon" type="image/webp" href="../assets/images/favicon.webp">
    <title>Portfolio| Iván Soto - Diseñador web y gráfico</title>
    <script src="https://kit.fontawesome.com/f0618a2a0c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../assets/images/ivan-soto-logo.webp" alt="Iván Soto, diseñador web y gráfico"></a>

        <nav class="menu">
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </label>
          
            <ul class="menu-list">
              <li><a href="#" class="active">Portfolio</a></li>
              <li><a href="../views/presupuesto.html">Presupuesto</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
          </nav>

        <div class="iconos">
            <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            
            <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
        </div>
    </header>

    <main>
        <div class="flecha-top">
            <a href="#"><img src="../assets/images/arrow-up.svg" alt="Ir al principio de la página"></a>
        </div>

        <div class="hero">
            <h1>Portfolio</h1>
        </div>

        <section class="contenido-portfolio-web">
            <div class="contenedor-portfolio-seccion">
                <h2>Diseño web</h2>
                <div class="trabajos">

                    <div class="trabajo">
                        <img src="../assets/images/ecosoft-consulting-ivan-soto-diseno-web-asturias.jpg" alt="Secciones de ecoSoft Consulting">
                        <div class="descripcion">
                        <p>Secciones de ecoSoft Consulting</p>
                        </div>
                    </div>

                    <div class="trabajo">
                    <img src="../assets/images/acd-rehabilitacion-diseno-web-ivan-soto-diseno-web-asturias.jpg" alt="Página web ACD Rehabilitación">
                        <div class="descripcion">
                        <p>Página web ACD Rehabilitación</p>
                        </div>
                    </div>

                    <div class="trabajo">
                    <img src="../assets/images/ftmpa-ivan-soto-disenador-paginas-web-asturias.jpg" alt="Página web de la Federación de Tenis de Mesa del Principado de Asturias (FTMPA)">
                        <div class="descripcion">
                        <p>Página web FTMPA</p>
                        </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/ayrins-tienda-online-ivan-soto-disenador-web-asturias.jpg" alt="Tienda online de Ayrins">
                            <div class="descripcion">
                            <p>Tienda online Ayrins</p>
                            </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/mjd-sport-pagina-web-tienda-online-ivan-soto-disenador-web-asturias.jpg" alt="Página web de MJD Sport">
                            <div class="descripcion">
                            <p>Página web MJD Sport</p>
                            </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/vypconcept-diseno-web-ivan-soto-asturias.jpg" alt="Tienda online de Vyp Concept">
                            <div class="descripcion">
                            <p>Tienda online Vyp Concept</p>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contenido-portfolio-grafico">
            <div class="contenedor-portfolio-seccion">
                <h2>Diseño gráfico</h2>
                <div class="trabajos">
                    <div class="trabajo">
                        <img src="../assets/images/dossier-fundas-inspiral-ivan-soto-diseno-grafico-asturias.png" alt="Dossier Fundas Inspiral">
                        <div class="descripcion">
                        <p>Dossier Fundas Inspiral</p>
                        </div>
                    </div>
                    <div class="trabajo">
                    <img src="../assets/images/revive-servicios-inmobiliarios-dossier-ivan-soto-diseno-grafico-asturias.png" alt="Dossier Revive Servicios Inmobiliarios">
                        <div class="descripcion">
                        <p>Dossier Revive Servicios Inmobiliarios</p>
                        </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/vetusta-triatlon-cartel-ivan-soto-disenador-grafico-asturias.png" alt="Cartel Vetusta Triatlón">
                            <div class="descripcion">
                            <p>Cartel Vetusta Triatlón</p>
                            </div>
                    </div>
                            
                    <div class="trabajo">
                    <img src="../assets/images/i-gala-solidaria-prueba-con-una-sonrisa-cartel-vale-diseno-grafico-asturias.png" alt="Cartel y vale I Gala Solidaria Prueba con una Sonrisa">
                        <div class="descripcion">
                        <p>I Gala Solidaria Prueba con una Sonrisa</p>
                        </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/triptico-gc-idiomas-diseno-grafico-asturias.png" alt="Tríptico GC Idiomas">
                            <div class="descripcion">
                            <p>Tríptico GC Idiomas</p>
                            </div>
                    </div>

                    <div class="trabajo">
                        <img src="../assets/images/tarjetas-visita-la-cotaraxa-ivan-soto-diseno-grafico-asturias.png" alt="Tarjetas de visita La Cotaraxa">
                            <div class="descripcion">
                            <p>Tarjetas de visita La Cotaraxa</p>
                            </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-row">
            <div class="col">
                <div class="col-content">
                    <p class="pie"><i class="fas fa-map-marker"></i> C/ Arquitecto Tioda, 13 3ºC - 33012 Oviedo (Asturias)<br><i class="fas fa-phone-alt"></i> <a href="tel:617640494" target="_blank"> 617 640 494</a><br><i class="fas fa-envelope"></i> <a href="mailto:ivansoto1892@gmail.com" target="_blank"> ivansoto1892@gmail.com</a></p>
                </div>
    
            </div>
            <div class="col">
                <div class="col-content">
                    <ul>
                        <li><a href="../views/aviso-legal.html">Aviso Legal</a></li>
                        <li><a href="../views/politica-de-privacidad.html">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="col-content">
                    <a href="https://www.linkedin.com/in/ivan-soto-coalla1892/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                
                    <a href="https://www.behance.net/ivansoto18" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>